@model List<string>

@{
    ViewData["Title"] = "Schema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a class="text-secondary" asp-controller="Database" asp-action="index">@ViewBag.databaseName</a>
    /
    Schemas
</h1>

<p>
    <a class="btn btn-success" asp-action="CreateSchema" asp-route-databaseName="@ViewBag.databaseName">Create Schema</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Schema name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (string schemaName in Model)
        {
            <tr>
                <td>
                    @schemaName <span class="badge badge-secondary text-secondary">(@ViewBag.dbLogic.GetTableNames(@ViewBag.databaseName,@schemaName).Count)</span>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Redirect_Table" asp-route-databaseName="@ViewBag.databaseName" asp-route-schemaName="@schemaName">Tables</a>
                    <a class="btn btn-danger" asp-action="SchemaDelete" asp-route-databaseName="@ViewBag.databaseName" asp-route-schemaName="@schemaName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

