@model List<string>

@{
    ViewData["Title"] = "Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a class="text-secondary" asp-controller="Database" asp-action="index">@ViewBag.databaseName</a>
    /
    <a class="text-secondary" asp-controller="Schema" asp-action="index" asp-route-databaseName="@ViewBag.databaseName">@ViewBag.schemaName</a>
    /
    Tables
</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Add New Table</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Table name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (string tableName in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-outline-dark btn-sm" asp-action="Rows" asp-route-databaseName="@ViewBag.databaseName" asp-route-schemaName="@ViewBag.schemaName" asp-route-tableName="@tableName">@tableName</a> <span class="badge badge-secondary text-secondary">(@ViewBag.dbLogic.GetTable(@ViewBag.databaseName, @ViewBag.schemaName, @tableName).GetRows().Count)</span>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="TableDelete" asp-route-databaseName="@ViewBag.databaseName" asp-route-schemaName="@ViewBag.schemaName" asp-route-tableName="@tableName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



